body {
	color: #494f29;
	font-size:14px;/*Размер шрифта для всего сайта*/
	font-family:Tahoma, Geneva, sans-serif;/*Тип шрифта*/
	background-color: #f3efe4;
	margin: 0;
}

footer, nav, header, section, aside {
 
display: block;
 
}




input[type="text"] {
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
	height: 30px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
}
button {
	color: #fff;
	background-color: #29c5e6;
	border: none;
	height: 32px;
	font-family: 'Oswald', sans-serif;
}
p {
	margin: 20px 0;
}


.headline{
    height: 89px;
     width:auto; 
     background: #ffffff;
    border-bottom: 1px solid #e4ded1;
    
    
}

#wrapper {
	max-width: 1280px;
    height:1680px;
	margin: auto;
    margin-top: -60px;
    text-align: left;
}
header {
	
}

.logo {
  padding: 10px;
    
    
}

form[name="search"] {
	float: right;
}


nav a {
	text-decoration: none;
}

nav ul {
	margin: -70px 150px ;
	padding: 0;
}

nav li {
	list-style-position: inside;
	font: 14px ;
	
}

.main-nav li {
	display: inline-block;
	padding: 10px 20px;
	margin: 0;
}

.main-navli.active {
		
}

.main-nav a {
	color: #494f29;
}
.bg {
    width:1030px;
    height:1188px;
     background: #ffffff;
    border: 1px solid #e4ded1;
	margin:130px 40px 40px 40px;
    position: absolute;
}

#slider{
    width:942px;
    height:412px;
    margin: 40px;
    
    
}
 h1{
   position: absolute;
   font-size: 30px;
   color:#f3efe4;
   top:166px;
   left: 95px;
   }




span {
	font: bold 24px/45px Helvetica, Sans-Serif;
	
}

#slider p {
    position: absolute;      
	top:230px;
	left: 95px;
    color:#f3efe4;
    width:641px;
    height:70px;
    font-size: 17px;
    
}

#slider form {
   position: relative;
   top:-120px;
   left: 55px;
    
    
}

#slider button {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  -webkit-box-shadow: 0px 3px 0px #d08000;
  -moz-box-shadow: 0px 3px 0px #d08000;
  box-shadow: 0px 3px 0px #d08000;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  background: #e8930c;
  padding: 16px 33px 30px 33px;
  text-decoration: none;
    
}

#slider button:hover {
  background: #f64b00;
  text-decoration: none;
}

#leftsidebar{
    position: relative;
      
}

.box li {   
    list-style: none;
    padding-top: 5px;
    padding-bottom: 5px;
  }


div .box {   
    border: 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    
}

menu a{
    text-decoration: none;
    
}

menu li.active {
	color: #94a14c;
}

menu a {
	color: #4a4f2a;
}

.box h3{
    color: #a3a78b;
    margin-left: 73px;
    padding-top: 35px;
    padding-bottom: 35px;    
    font-weight: bold;
}
   
section {
    width:630px;
    height:690px;
    
}


figure {
    float:left;
	margin: 40px;
	
}

figure img {
	display: block;
    float:left;
	/*border: 1px solid #fff;
	outline: 1px solid #c9c9c9;*/
}

.block {
    overflow: hidden;
    width: 690px;
    
}
.block  p{
  clear: both;
  width: 435px;
  margin: 20px;
   
}
.block  h2 {
    float: left;
    margin-right: 20px;
    color:#d98d1b;
}

/*ФУТЕР*/

footer h3 {
	color: #4a4f2a;
	border-bottom: 1px solid #51582a;
    border-bottom-style:groove;
    border-bottom-width: 2px;
	margin:15px 0 20px 0;
    padding-bottom: 10px;
}

#footer {
	width: 1280px;
	height: 335px;
    background: #757f3c;
	color: #ffffff;
    text-decoration: none;
    /*margin-top: 1345px;*/
	padding: 0;
    display: inline-block;
    vertical-align: top;
}

#footerleft {
	width: 240px;
	float: left;
	margin-left: 125px;
	padding-right: 15px;
    
}

#footerleft a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	margin-bottom: 10px;
    color: #ffffff;
}

#footermiddle {
	float: left;
	margin-left: 55px;
    width: 430px;
	
    
}

#footermiddle div {
	display: inline-block;
}



#footermiddle div + div {
	margin-left: 40px;
}

#footermiddle a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	margin-bottom: 10px;
    color: #ffffff;
}


#footerright {
	float: right;
	margin-right: 125px;
    width: 230px;
}

#footerright div {
	display: inline-block;
}


#footerright a {
	display: block;
	text-decoration: none;
	font-size: 14px;
	margin-bottom: 10px;
    color: #ffffff;
}
